In [70]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model
from sklearn.impute import SimpleImputer
from sklearn import impute
from sklearn.model_selection import cross_validate
from sklearn import metrics
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor

In [3]:
df = pd.read_csv('features.csv')

In [5]:
y = pd.read_csv('targets.csv')

In [6]:
y

      Unnamed: 0         0
0              0  0.648148
1              1  0.103448
2              2  0.243243
3              3  0.829787
4              4  0.272727
...          ...       ...
2971        2971  0.555556
2972        2972  0.617284
2973        2973  0.370370
2974        2974  0.561728
2975        2975  0.401235

[2976 rows x 2 columns]

In [7]:
list(y)

['Unnamed: 0', '0']

In [9]:
y = y['0'].to_list()

In [21]:
df = df.drop(['Unnamed: 0'], axis=1)

In [22]:
df

,teamID_ALT,teamID_ANA,teamID_ARI,teamID_ATL,teamID_BAL,teamID_BFN,teamID_BFP,teamID_BL1,teamID_BL2,teamID_BL3,...,pwp_1.83,rolling_3_win_perc,rolling_5_win_perc,yearID,CS_perc,BA,medianERA,pitcherAverageAge,batterAverageAge,medianOPS
0,0,0,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,0,NaN,NaN,-1.736156,-1.062462,-1.527248,NaN
1,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,0,NaN,NaN,4.260342,-11.185544,-6.222553,NaN
2,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,0,NaN,NaN,0.444389,-32.248087,-13.110602,NaN
3,0,0,0,0,0,0,0,0,0,0,...,5.150994,NaN,NaN,0,-1.058460,3.239081,-2.281292,0.570293,-0.794024,0.879553
4,0,0,0,0,0,0,0,0,0,0,...,8.999966,NaN,NaN,0,-1.217624,1.591295,1.534661,-0.463785,-1.602838,0.667606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,0,0,0,0,0,0,0,0,0,0,...,-0.411656,0.525841,0.461700,149,-1.228354,-1.042232,0.444389,0.733569,0.484782,-0.096897
2972,0,0,0,0,0,0,0,0,0,0,...,0.064596,1.426873,0.660834,149,-0.349458,-1.095304,-0.645884,0.518523,0.431278,1.490159
2973,0,0,0,0,0,0,0,0,0,0,...,-0.188963,-1.160136,-0.599499,149,-1.127531,-1.716126,0.444389,0.192719,-0.128832,0.557565
2974,0,0,0,0,0,0,0,0,0,0,...,0.068397,-0.524932,-0.326362,149,-1.229413,0.258788,0.444389,0.398424,0.271064,2.128444
2975,0,0,0,0,0,0,0,0,0,0,...,0.202754,0.017877,0.567187,149,-0.399067,-0.207248,1.534661,0.773151,0.838721,1.511279

In [11]:
len(y)

2976

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.30, random_state=1)

In [25]:
X_train

,teamID_ALT,teamID_ANA,teamID_ARI,teamID_ATL,teamID_BAL,teamID_BFN,teamID_BFP,teamID_BL1,teamID_BL2,teamID_BL3,...,pwp_1.83,rolling_3_win_perc,rolling_5_win_perc,yearID,CS_perc,BA,medianERA,pitcherAverageAge,batterAverageAge,medianOPS
2231,0,0,0,0,0,0,0,0,0,0,...,0.866147,0.382241,0.052510,125,0.523814,1.758791,1.534661,0.015157,-0.026949,1.520392
130,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,12,NaN,NaN,0.444389,-1.372685,-2.272032,NaN
2541,0,0,0,0,0,0,0,0,0,0,...,0.331770,-0.611085,-1.184478,135,-0.899296,0.040093,0.444389,0.515868,0.543920,-0.721159
1365,0,0,0,0,0,0,0,0,0,0,...,0.005909,0.288458,NaN,89,0.438485,0.130736,-0.645884,0.026042,-0.303634,0.244555
553,0,0,0,0,0,0,0,0,0,0,...,-0.614012,-0.197490,0.326594,40,NaN,-0.373232,-0.645884,-0.956813,-0.781655,-0.070586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763,0,0,0,0,0,0,0,0,0,0,...,-0.297733,1.006534,0.942589,142,-0.026170,-0.285944,0.444389,0.129449,0.220772,-0.392530
905,0,0,0,0,0,0,0,0,0,0,...,0.447226,-1.948814,-1.803132,61,1.913829,0.644302,0.444389,1.256051,0.915686,0.282729
1096,0,0,0,0,0,0,0,0,0,0,...,0.126711,-1.144033,-1.339803,73,NaN,0.337416,0.444389,0.867158,0.778249,-0.764499
235,0,0,0,0,0,0,0,0,0,0,...,1.234581,0.724833,2.048080,18,NaN,-0.083468,-0.645884,-1.407155,-1.321475,0.127940
1061,0,0,0,0,0,0,0,0,0,0,...,0.332109,-0.991594,-0.782988,70,-1.042219,-0.216128,1.534661,-0.184856,-0.418593,-1.675350

imputer_mean = impute.SimpleImputer()
X_train_ = imputer_mean.fit_transform(X_train)
X_test_ = imputer_mean.transform(X_test)

# Bayesian Regression

In [41]:
br = linear_model.BayesianRidge()
cross_validate(br, X_train_, y_train, cv=5, scoring='r2')['test_score'].mean()

0.5096476860774694

In [69]:
br.fit(X_train_, y_train)
pred = br.predict(X_test_)
r2 = metrics.r2_score(y_test, pred)
rmse = metrics.mean_squared_error(y_test, pred, squared=False)
mea = metrics.mean_absolute_error(y_test, pred)
print('r2:' , r2, ', rmse:', rmse, ', mea:', mea)

r2: 0.5637910204924319 , rmse: 0.06253880317006125 , mea: 0.04619407763781516

# Stochastic Gradient Descent

In [59]:
sgd = SGDRegressor()
cross_validate(sgd, X_train_, y_train, cv=5, scoring='r2')['test_score'].mean()

-5.042754638484997e+26

In [60]:
sgd.fit(X_train_, y_train)
pred = sgd.predict(X_test_)
metrics.r2_score(y_test, pred)

-2.47832154339563e+24

##### not sure what went wrong or why this is such a bad model

# Gradient Boosting Tree

In [54]:
gbr = GradientBoostingRegressor(random_state=0)
cross_validate(gbr, X_train_, y_train, cv=5, scoring='r2')['test_score'].mean()

0.5270955978220893

In [68]:
gbr.fit(X_train_, y_train)
pred = gbr.predict(X_test_)
r2 = metrics.r2_score(y_test, pred)
rmse = metrics.mean_squared_error(y_test, pred, squared=False)
mea = metrics.mean_absolute_error(y_test, pred)
print('r2:' , r2, ', rmse:', rmse, ', mea:', mea)

r2: 0.5986783803092339 , rmse: 0.05998581215263861 , mea: 0.04608202122445602

# Ada Boost

In [74]:
ab = AdaBoostRegressor(random_state=0, n_estimators=1000)
cross_validate(ab, X_train_, y_train, cv=5, scoring='r2')['test_score'].mean()

0.38712433057988477

In [75]:
ab.fit(X_train_, y_train)
pred = ab.predict(X_test_)
r2 = metrics.r2_score(y_test, pred)
rmse = metrics.mean_squared_error(y_test, pred, squared=False)
mea = metrics.mean_absolute_error(y_test, pred)
print('r2:' , r2, ', rmse:', rmse, ', mea:', mea)

r2: 0.44616326851819854 , rmse: 0.07046819424470518 , mea: 0.054769062654448905